.space {
  display: flex;
  justify-content: space-between;
}

.app-card {
  height: 350px;
  width: 280px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
  margin: 0 auto;
}

.img {
  max-height: 130px;
}

.body::-webkit-scrollbar {
  width: 5px;
}
.body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.body::-webkit-scrollbar-thumb {
  background: #888;
}

.body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
